.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
    height: 100%;
    background-color: #333;
  }

  .card {
    border-radius: 4px;
    z-index: 1;
    background: #fff;
    height: 250px;
    width: 300px;
    margin: 3rem auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
  .loginform,
  .logon-form-field{width: 100%;}